services:
  go_backend:
    build:
      context: ./BE
    container_name: go_backend
    expose:
      - "8080"
    networks:
      - web_net
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/api/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  react_frontend:
    build:
      context: ./FE
    container_name: react_frontend
    expose:
      - "80"
    networks:
      - web_net
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/letsencrypt:rw
      - ./nginx/certbot/www:/var/www/certbot:rw
    depends_on:
      go_backend:
        condition: service_healthy
      react_frontend:
        condition: service_started
    networks:
      - web_net
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    command: >
      /bin/sh -c "
      if [ ! -f /etc/letsencrypt/live/timetransit.net/fullchain.pem ]; then
        certbot certonly --webroot -w /var/www/certbot \
        -d timetransit.net -d www.timetransit.net \
        --email denistendev@gmail.com --agree-tos --non-interactive;
        docker compose restart nginx;
      fi
      trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot --deploy-hook 'docker compose restart nginx';
        sleep 12h & wait $${!};
      done"
    networks:
      - web_net
    restart: unless-stopped

networks:
  web_net:
    driver: bridge
