.container{
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 100px auto 0 auto;
}

.block{
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.logoBlock{
    margin-top: 155px ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.textBlock{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 30px;
}


.logo{
    height: 270px;
    display: flex;
}

.time{
    font-weight: 800;
    font-size: 100px;
    color: #a62226;
    text-align: left;
    padding-left: 40px;
}

.transit{
    font-weight: 700;
    font-size: 120px;
    letter-spacing: 0.06em;
    color: #000;
    line-height: 20px;
    text-align: start;
}

.textDownLogo{
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #000;
    width: 710px;
    height: 100px;
    margin-top: 70px;
    text-align: start;
    z-index: 10;
}

.buttonOnline{
    margin-top: 100px;
    width: 437px;
    height: 67px;
    border-radius: 20px;
    background: #c3202b;
    stroke-width: 3px;
    border-color: #c3202b;
    cursor: pointer;
    transition: transform .3s;
}

.buttonOnline:hover {
    transform: translateY(-10px) scale(1.1);
}

.buttonText{
    font-weight: 300;
    font-size: 32px;
    align-content: center;
    color: #fff;
}

.ship{
    height: 1024px;
}

.drawing{
    width: 600px;
    height: 402px;
    position: absolute;
    top: 830px;
    left: -200px;
    justify-content: end;
    z-index: -1;
}

@media (max-width: 1440px) {
    .block{
        left: 150px;
    }

    .time {
        font-size: 80px;
        padding-left: 40px;
    }

    .transit {
        position: relative;
        font-size: 100px;
    }

    .ship {
        height: 800px;
    }

    .logo {
        height: 210px;
    }

    .textDownLogo {
        font-size: 34px;
        width: 520px;
        margin-top: 50px;
    }

    .drawing{
        width: 400px;
        height: 302px;
        position: absolute;
        top: 650px;
        z-index: -1;
    }

    .buttonOnline{
        margin-top: 70px;
    }

}
@media (max-width: 1080px) {
    .block{
        left: 110px;
    }

    .time {
        font-size: 64px;
        padding-left: 30px;
    }

    .transit {
        position: relative;
        font-size: 80px;
    }

    .ship {
        height: 600px;
    }

    .logo {
        height: 190px;
    }

    .textDownLogo {
        margin-top: 40px;
        font-size: 30px;
        width: 480px;
        line-height: 50px;
    }

    .drawing{
        width: 350px;
        height: 300px;
        position: absolute;
        top: 540px;
        z-index: -1;
    }

    .buttonOnline{
        margin-top: 50px;
        width: 300px;
        height: 60px;
    }

    .buttonText{
        font-weight: 300;
        font-size: 28px;
        align-content: center;
        color: #fff;
    }

    .drawing{
        width: 250px;
        height: 250px;
        left: -100px;
        top: 520px;
    }

    .logoBlock{
        margin-top: 100px;
    }

}

@media (max-width: 480px) {
    .container{
        margin-top: 80px;
    }
}

@media (max-width: 320px) {
    .container{
        margin-top: 60px;
    }
}