.container{
    position: relative;
}

.pageTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.slider{
    width: 700px;
}

.title{
    font-weight: 600;
    font-size: 64px;
    color: #a62226;
    margin-top: 230px;
}

.textTitle{
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #000;
    width: 1600px;
    margin: 30px 0 70px 0
}

.containerTextAndImg{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.textAndImg{
    font-weight: 400;
    font-size: 33px;
    line-height: 65px;
    text-align: justify;
    color: #000;
    margin: 0 100px;
}

.imgTrain{
    width: 635px;
}


.text{
    font-weight: 400;
    font-size: 33px;
    line-height: 65px;
    text-align: justify;
    color: #000;
    margin: 0 100px;
}


@media (max-width: 1440px) {
    .title{
        font-size: 46px;
        margin-top: 180px;
    }

    .textTitle{
        font-size: 28px;
        width: 1000px;
        line-height: 50px;
    }

    .imgTrain{
        width: 535px;
    }

    .textAndImg{
        font-size: 30px;
        line-height: 50px;
    }
}

@media (max-width: 1080px) {
    .slider{
        width: 500px;
    }

    .title{
        font-size: 40px;
        margin-top: 180px;
    }

    .textTitle{
        font-size: 24px;
        width: 900px;
        line-height: 40px;
    }

    .imgTrain{
        width: 335px;
    }

    .textAndImg{
        font-size: 24px;
        line-height: 40px;
    }

    .containerTextAndImg{
        margin-right: 50px;
    }

    .textAndImg{
        font-size: 22px;
        line-height: 38px;
        margin: 0 50px;
    }
}

@media (max-width: 768px) {
    .slider{
        width: 500px;
    }

    .title{
        font-size: 40px;
        width: 500px;
        margin-top: 170px;
    }

    .textTitle{
        font-size: 23px;
        width: 650px;
        line-height: 38px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .imgTrain{
        display: none;
    }

    .containerTextAndImg{
        margin: 0;
    }

    .textAndImg{
        font-size: 23px;
        line-height: 38px;
        margin: 0 50px;
    }
}

@media (max-width: 480px) {
    .slider{
        width: 300px;
    }

    .title{
        font-size: 24px;
        margin-top: 130px;
    }

    .textTitle{
        font-size: 16px;
        width: 400px;
        line-height: 25px;
    }

    .textAndImg{
        font-size: 16px;
        line-height: 28px;
        margin: 0 50px;
    }
}

@media (max-width: 320px) {
    .slider{
        width: 200px;
    }

    .title{
        font-size: 18px;
        width: 250px;
        margin-top: 90px;
    }

    .textTitle{
        font-size: 14px;
        width: 280px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .textAndImg{
        font-size: 14px;
        line-height: 20px;
        margin: 0 30px;
    }
}