.container{
    margin-bottom: 150px;
}

.title {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 150px;
}

.titleBlack{
    text-align: center;
    color: #000;
    font-size: 60px;
}

.titleRed{
    text-align: center;
    color: #c3202b;
    font-size: 60px;
}

.tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sliderImg {
    max-width: 60%; /* Устанавливаем максимальную ширину 100% от контейнера */
    max-height: 100%; /* Устанавливаем максимальную высоту 100% от контейнера */
    width: auto; /* Адаптивная ширина */
    height: auto; /* Адаптивная высота */
    object-fit: contain; /* Умещает изображение внутри блока, сохраняя пропорции */
    margin: 0 auto; /* Центрируем изображение */
    display: block; /* Убираем возможные inline эффекты */
}

.sliderContainer {
    width: 100%; /* Полная ширина контейнера */
    height: 80%; /* Высота экрана минус отступы (например, 150px для заголовка) */
    display: flex;
    align-items: center; /* Центрируем изображение по вертикали */
    justify-content: center; /* Центрируем изображение по горизонтали */
}


@media (max-width: 1440px) {
    .tabs{
        /*gap: 40px;*/
        /*margin: 70px 30px;*/
    }
}

@media (max-width: 1080px) {
    .container{
        margin-top: 100px;
    }

    .titleBlack {
        font-size: 50px;
    }

    .titleRed{
        font-size: 50px;
    }


    .tabs{
        /*gap: 30px;*/
        /*margin: 50px 30px;*/
    }

    .sliderImg {
        height: auto;
    }
}

@media (max-width: 768px) {
    .container{
        margin-top: 100px;
    }

    .titleBlack {
        font-size: 40px;
    }

    .titleRed{
        font-size: 40px;
    }


    .tabs{
        /*gap: 30px;*/
    }
    .sliderImg {
        max-width: 90%; /* Уменьшаем ширину для мобильных устройств */
        max-height: 70%; /* Ограничиваем высоту */
    }

    .sliderContainer {
        height: auto;
    }
}

@media (max-width: 480px) {

    .sliderImg {
        width: 400px;
        height: auto;
    }

    .title{
        margin-top: 80px;
        gap: 16px;
    }

    .container{
        margin-bottom: 50px;
    }

    .titleBlack{
        font-size: 28px;
    }

    .titleRed{
        font-size: 28px;
    }


    .tabs{
        /*gap: 16px;*/
        /*margin: 30px 30px;*/
    }

}


@media (max-width: 320px) {

    .container{
        margin-bottom: 30px;
    }

    .title{
        gap: 8px;
        margin-top: 70px;
    }

    .titleBlack{
        font-size: 22px;
    }

    .titleRed{
        font-size: 22px;
    }

    .tabs{
        gap: 8px;
        margin: 30px 30px;
    }
}