.container{
    display: flex;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    background: #101114;
    width: 100vw;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.backImg{
    /*width: 100vw;*/
}


.logoTime{
    font-weight: 800;
    font-size: 76px;
    color: #a62226;
    margin-left: 15px;
    line-height: 30px;
}

.logoTransit{
    font-weight: 700;
    font-size: 96px;
    line-height: 25px;
    color: #fff;
    padding-top: 16px;
}

.textLogo{
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    max-width: 400px;
    text-align: start;
    padding-top: 50px;
}

.list{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    margin: 40px 150px;
    align-items: center;
}

.gapText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.numberText{
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: end;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    max-width: 570px;
    line-height: 46px;
}

.text{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    max-width: 770px;
    line-height: 60px;
}

.button{
    border-radius: 7px;
    width: 300px;
    height: 80px;
    background: #c3202b;
    border-color: #c3202b;
}

.buttonText{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.button:hover {
    transform: translateY(-10px) scale(1.1);
}


@media (max-width: 1440px) {
    .numberText{
        gap: 24px;
        font-size: 24px;
        line-height: 32px;
    }

    .text{
        font-size: 24px;
        max-width: 570px;
        line-height: 40px;
    }

    .logoTime{
        font-size: 68px;
        margin-left: 12px;
        line-height: 28px;
    }

    .logoTransit{
        font-size: 86px;
        padding-top: 16px;
    }

    .textLogo{
        font-size: 20px;
        max-width: 350px;
    }

    .list{
        margin: 40px 100px;
    }

    .button{
        border-radius: 7px;
        width: 200px;
        height: 60px;
    }

    .buttonText{
        font-size: 28px;
    }
}

@media (max-width: 1080px) {
    .logoTime{
        margin-left: 10px;
        line-height: 16px;
        font-size: 56px;
    }

    .logoTransit{
        font-size: 70px;
    }

    .text{
        font-size: 20px;
        width: 490px;
    }

    .numberText{
        font-size: 20px;
        gap: 10px;
        font-weight: 400;
        color: #fff;
        max-width: 570px;
        line-height: 40px;
    }

    .list{
        margin: 30px 50px;
    }

    .button{
        border-radius: 7px;
        width: 200px;
        height: 60px;
    }

    .button{
        width: 200px;
        height: 60px;
    }

    .buttonText{
        font-size: 22px;
    }

    .gapText{
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .logoTime{
        font-size: 56px;
        line-height: 10px;
        margin-left: 8px;
    }

    .logoTransit{
        font-size: 70px;
    }

    .text{
        font-size: 22px;
        width: 520px;
        line-height: 40px;
    }

    .list{
        margin: 30px 50px;
    }

    .button{
        width: 220px;
        height: 60px;
    }

    .buttonText{
        font-size: 24px;
    }

    .gapText{
        gap: 10px;
    }

    .numberText{
        display: none;
    }

}

@media (max-width: 480px) {
    .logoTime{
        font-size: 30px;
        line-height: 12px;
    }

    .logoTransit{
        font-size: 40px;
        padding: 0;
    }

    .text{
        font-size: 16px;
        width: 420px;
        line-height: 32px;
    }

    .list{
        margin: 20px 40px;
    }

    .button{
        width: 120px;
        height: 44px;
    }

    .buttonText{
        font-size: 18px;
    }

    .gapText{
        gap: 10px;
    }

    .numberText{
        display: none;
    }

}


@media (max-width: 320px) {
    .logoTime{
        font-size: 24px;
        line-height: 10px;
    }

    .logoTransit{
        font-size: 32px;
        padding: 0;
    }

    .text{
        font-size: 10px;
        width: 250px;
        line-height: 30px;
    }

    .list{
        margin: 20px 30px;
    }


    .button{
        width: 100px;
        height: 36px;
    }

    .buttonText{
        font-size: 16px;
    }

    .gapText{
        gap: 4px;
    }

    .numberText{
        display: none;
    }

}